body
{
    background-color: #f0f0f0;
}

.game-container
{
    border: 4px double black;
    background-color: dodgerblue;
    margin: auto;
    margin-top: 5%;
    height: 50%;
    width: 75%;
}

.game-statistics
{
    margin: auto;
    width: 75%;
    height: 4.5%;
}

.page
{
    background-color: #787878;
    width: 75vh;
    height: 75vh;
    margin: auto;
    margin-top: 12vh;
    margin-bottom: 12vh;
    border: 4px solid #3c3c3c;
    border-radius: 10px;
}

.page-head
{
    margin: auto;
    margin-top: 2%;
    width: 50%;
    height: 12.5%;
}

.grid-container
{
    display: grid;
    grid-template-rows: 30% 30% 30%;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 2%;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-top: 1.5%;
    height: 95%;
    width: 95%;
}

.grid-statistics
{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}

.grid-item2
{
    border: 4px double black;
}

.grid-item
{
    background-color: gray;
    border: 2px solid white;
    padding-top: 25%;
    text-align: center;
    text-justify: inter-character;
    font: message-box;
}
        
